# App
APP_ORIGIN=http://localhost:5173
CORS_ORIGIN=http://localhost:5173
NODE_ENV=development
PORT=3000

# Auth
BETTER_AUTH_SECRET=hye393jrd9aaldkf87423344
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_SECRET=secret1234
GOOGLE_CLIENT_ID=12340.apps.googleusercontent.com
POLAR_ACCESS_TOKEN=...

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/database_name
